/* Dark Grey Backgrounds */
#qanda-content #stats-view .glance-bg,
#qanda-content #stats-view .container,
#qanda-content #stats-view .top-students-bg {
    background-color: #232323 !important;
}


/* Lighter Grey Backgrounds */
.nav-tabs .nav-link.active {
    background: #3b3b3b !important;
}

/* White Text */
.nav-tabs .nav-link.active,
#qanda-content #stats-view .glance-value,
.table {
    color: #e7e6e6 !important;
}


/* Grey Borders */
.nav-tabs .nav-link.active,
#qanda-content #stats-view .tab-content {
    border-color: #484747 !important;
}