/**********************/
/* White Text */
body p,
body h1,
body h2,
.form-control,
.table,
.dropdown-item,
#topbar #my_class_menu .dropdown-item .top_bar_notification,
.btn.btn-primary,
#tinymce {
	color: #e7e6e6 !important;
}

/**********************/
/* Darkest Grey Background */
#topbar #my_class_menu .dropdown-item:not(:hover),
.form-control,
.dropdown-menu,
.modal-content,
#react_root #topbar .dropdown .dropdown-menu .dropdown-item.dark-item {
	background-color: #232323 !important;
}

/**********************/
/* Lighter Grey Background */
.dropdown-item:hover,
#react_root #topbar #my_class_menu .dropdown-item.dark-item.border-top:hover,
#topbar #my_class_menu .dropdown-item .top_bar_notification {
	background-color: #3b3b3b !important;
}

/**********************/
/* Dark Grey Borders */
.form-control,
.modal-footer,
.modal-header,
.dropdown-menu,
#react_root #topbar .dropdown .dropdown-menu .dropdown-item.border-top,
.dropdown-divider {
	border-color: #595959 !important;
}

/**********************/
/* Scrollbar */
::-webkit-scrollbar {
	-webkit-appearance: none;
	background-color: #232323;
	width: 15px;
}
::-webkit-scrollbar-thumb {
	background-color: #777575;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px #595959;
	border-radius: 0;
}

/**********************/
/* Alerts like "this class has been made inactive" */
.alert.alert-info,
.alert-warning,
.alert-primary {
	background-color: #265983 !important;
	border-color: #265983 !important;
	color: #e7e6e6 !important;
}

.alert.alert-warning.border,
#qanda-content #teammates .alert {
	background-color: #7d5c20 !important;
	border-color: #644a22 !important;
	color: #e7e6e6 !important;
}

/**********************/
/* Code blocks */
pre {
	background-color: #3b3b3b !important;
	color: #e7e6e6 !important;
}

/*****************************/
/* Links */
.btn.btn-link-text,
.btn.btn-link,
a {
	color: #5992bf !important;
}
