/**********************/
/* White Text */
body,
body span,
.snippet,
.tox .tox-mbtn,
.tox :not(svg):not(rect),
:root,
.icon-font,
article,
label,
#create-post #main-post .btn.btn-link-text,
#latexTextArea,
#latexPreviewRender,
#qanda-content #teammates .group_details,
.responses.text-black-50,
pre,
body .render-html-content code,
strong,
#main-post .helper-text.no-margin,
.css-1dimb5e-singleValue {
    color: #e7e6e6 !important;
}


/**********************/
/* Darkest Grey Background */
.followup,
.followup_reply,
.gray-bar,
#feed_search_bar,
.feed_item,
.css-13cymwt-control,
.tox .tox-statusbar,
.tox :not(svg):not(rect),
.editor_row .preview_box,
#history_bar,
#content-holder #react_feed #feed_list_wrapper,
.bg-white.py-2,
#create-post,
.css-t3ipsp-control,
.create-post__menu,
.modal-footer,
#latexTextArea,
div[class*="css"][class$="menu"],
#qanda-content #teammates .new_post,
#qanda-content #teammates #teammates_head_row .col,
#qanda-content #teammates #teammates_head_row .first_col,
#qanda-content #teammates .responses .write_response,
#qanda-content #teammates .responses .response,
#similar-posts li,
.similar-posts,
.popover-header,
.popover {
    background-color: #232323 !important;
}
#qaContentViewId,
article {
    background-color: #232323 !important;
    border-color: #232323 !important;
}


/**********************/
/* Lighter Grey Background */
.questions-and-answers,
.dropdown-item:hover,
#react_root .main-content .questions-and-answers #qanda-content.homepage .class-buttons .btn-light:hover,
li.feed_item.selected,
.css-d7l1ni-option,
.css-1nmdiq5-menu,
#react_feed #feed_list_wrapper #feed_list ul li.feed_item .content .title .private-icon,
kbd,
pre {
    background-color: #3b3b3b !important;
}


/**********************/
/* Dark Grey Borders */
body p,
body span,
body h1,
.border-top.container-fluid,
.border-bottom.container-fluid,
.good_post_number,
#react_feed,
#post-header,
#react_root #folder_row .folder-item:after,
.editor_row .preview_box,
#react_root #folder_row .more_folders_col:before,
#react_feed #feed_list_wrapper #feed_list ul li.feed_item .feed_item_dropdown_selector>.dropdown-menu>.dropdown-item,
.modal-content,
.tox-tinymce,
.tox-statusbar,
.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type),
.tox .tox-menubar+.tox-toolbar,
.tox-toolbar__primary,
#qanda-content #teammates .teammates_row,
.css-13cymwt-control,
#feed_gear_menu,
.similar-posts,
.popover-header,
.popover {
    border-color: #484747 !important;
}
.bs-popover-right>.arrow::after, .bs-popover-auto[x-placement^=right]>.arrow::after {
    border-right-color: #484747 !important;
}

.tox-toolbar__primary,
.tox-toolbar__overflow {
    border-bottom: 1px solid #484747 !important;
    background: none !important;
}

#react_feed .page_feed_tool_bar .page_feed_tool_bar_left #hide_feed_button:after,
#react_feed .page_feed_tool_bar .dropdown #feed_gear_menu_selector:before {
    background-color: #484747 !important;
}



/**********************/
/* Light Grey Text */
::placeholder,
#react_root .main-content .questions-and-answers #qanda-content.homepage .class-buttons .btn-light:hover:after,
.main-content .questions-and-answers #qanda-content article #post-header b span,
.post_number_copy,
.main-content .questions-and-answers #qanda-content article header h2,
.css-1nmdiq5-menu,
.main-content .questions-and-answers #qanda-content article footer .update_text,
#react_feed .page_feed_tool_bar .page_feed_tool_bar_left #feed_filter_buttons .feed_filter_button {
    color: #9f9d9d !important;
}



/**********************/
/* Search bar, and other places you click to type */
.form-control {
    border-color: #484747 !important;
    border-radius: 7px !important;
}



/**********************/
/* White icons */
.tox .tox-tbtn svg {
    fill: #e7e6e6 !important;
}


/**********************/
/* Join Another Class Button */
#topbar #my_class_menu .dropdown-item.dark-item#joinAnotherClassId :hover {
    background-color: #265983 !important;
}


/******************************/
/* Grey buttons */
.row .btn.btn-light {
    background-color: #484747 !important;
    border-color: #484747 !important;
    color: #e7e6e6 !important;
}
.row .btn.btn-light:hover {
    background-color: #3b3b3b !important;
    border-color: #3b3b3b !important;
    color: #e7e6e6 !important;
}

/******************************/
/* Blue buttons/icons with white text */
.main-content .questions-and-answers #qanda-content article .btn-action {
    color: #e7e6e6 !important;
    background-color: #305f85 !important;
    border-color: #305f85 !important;
}


/**********************************************/
/* Links */
#similar-posts li a {
    color: #5d9acb !important;
}


/**********************/
/* FUN COLOURS */

#react_feed #feed_list_wrapper #feed_list ul li.feed_item .content ul.messages li.instructor_endorsed,
.instructor-endorsement {
    color: #f69b51 !important;
}

#react_feed #feed_list_wrapper #feed_list ul li.feed_item .content ul.messages li.open_teammate_searches {
    color: #47b6d1 !important;
}

#react_feed #feed_list_wrapper #feed_list ul li.feed_item .content ul.messages li.unresolved_followups {
    color: #e92029 !important;
}

.main-content .questions-and-answers #qanda-content article .sign.red {
    background-color: #e92029 !important;
}





