
/* Darkest Grey Backgrounds */
.card,
body #classEmailSettingsId .class-box,
.smart-digest-select .bs-rs__control.bs-rs__control--is-disabled,
.bs-rs__control,
.bs-rs__menu,
input.form-control:focus {
    background-color: #232323 !important;
}



/* Lighter Grey Backgrounds */
body,
.custom-control-label::before,
.bs-rs__option--is-focused {
    background: #313131 !important;
}


/* White Text */
body,
.helper-text,
body .required-fields,
#react_root .btn:disabled.btn-outline-secondary,
.bs-rs__single-value {
    color: #e7e6e6 !important;
}

/* Grey Borders */
.border.rounded,
.border-bottom.row,
body #classEmailSettingsId .color-picker-dropdown .btn-primary,
.smart-digest-select .bs-rs__control.bs-rs__control--is-disabled,
.bs-rs__control,
.col.border-bottom,
.modal-header {
    border-color: #595959 !important;
}
body .card .focusable {
    border-bottom-color: #595959 !important;
}
.bs-rs__menu {
    border: 1px solid #595959 !important;
}


/* Blue Backgrounds */
.bs-rs__option--is-selected {
    background: #2684FF !important;
}